<div class="fundo">
  <div class="box container">
    <div class="center">
      <div class="text">
        <h1>
          <img src="assets/location-pin.png" />
          <a
            href="https://www.google.com/maps/place/Pra%C3%A7a+Manuel+Guedes+13+17,+4420-193+S.+Cosme/@41.1437944,-8.5363026,3a,90y,185.89h,100.03t/data=!3m6!1e1!3m4!1sc2nbsQ41ydbR3AKRfcTGGw!2e0!7i16384!8i8192!4m6!3m5!1s0xd24632261b41dd7:0xa0a457bc8ef6c3c0!8m2!3d41.1437178!4d-8.5362949!10e5?hl=pt-PT&entry=ttu"
            target="_blank"
            >Praça Manuel Guedes, 13 - 4º Sala 17, 4420-193 Gondomar</a
          >
        </h1>
        <h1>
          <img src="assets/apple.png" /><a href="tel:+351220968130"
            >+351 220 968 130</a
          >
          <span> (Chamada para a Rede Fixa Nacional)</span>
        </h1>
        <h1>
          <img src="assets/email.png" /><a href="mailto:geral@frosas.com"
            >geral@frosas.com</a
          >
        </h1>
      </div>
    </div>
    <div class="formulario">
      <form>
        <label>Name:</label>
        <input type="text" />
        <label>Email:</label>
        <input type="text" />
        <label>Assunto:</label>
        <input type="text" />
        <label>Messagem:</label>
        <textarea formControlName="message" rows="5" cols="30"></textarea>

        <div class="button">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
